<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/sign-up.css">
  <title>Sign Up</title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
        <div class="container">
         <div class="sign-up-container">
          <div class="left-side">
         <div class="messg">
          <h1>No pain No Gain..</h1>
          <p>Wellcom to these world. Enter your details to use all features </p>
         </div>
        </div>
          <div class="right-side">
          <h1>Create A Membership Account!</h1>
        <div class="form-container">
          <form action="/auth/sign-up" method="POST">

            <div class="rowww">
              <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required />
              </div>

              <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required />
              </div>
          
            </div>
            <div class="rowww">
              <div class="input-group">
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" name="confirmPassword" id="confirmPassword" required />
              </div>


              <div class="input-group">
                <label for="firstname">First Name:</label>
                <input type="text" name="firstname" id="firstname" required />
              </div>
            </div>

            <div class="rowww">
              <div class="input-group">
                <label for="lastname">Last Name:</label>
                <input type="text" name="lastname" id="lastname" required />
              </div>

              <div class="input-group">
                <label for="cpr">CPR:</label>
                <input type="number" name="cpr" id="cpr" required />
              </div>
            </div>

            <div class="rowww">
              <div class="input-group">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required />
              </div>
              
              <div class="input-group">
                <label for="PhoneNumber">Phone Number:</label>
                <input type="text" name="PhoneNumber" id="PhoneNumber" required />
              </div>
            </div>
            
            <div class="rowww">
              <div class="input-group">
                <label for="address">Address:</label>
                <input type="text" name="address" id="address" required />
              </div>
              
              <div class="input-group">
                <label for="picture">Picture:</label>
                <input type="file" name="picture" id="picture" required />
              </div>
            </div>
            <div class="rowww">
              <button type="submit">Sign up</button>
            </div>
          </form>
          </div>
          </div>
          </div>
          </div>
</body>

<style>

.right-side h1  {
    margin: 0 !important;
    font-size: 17px;
    
  }

  .left-side {
    background-image:url(https://i.pinimg.com/564x/41/a8/bb/41a8bbb88e8b430aceff5fe7802205dc.jpg);
  }
  
</style>

</html>