<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/dashbord.css">
    <title>Dashbord</title>
</head>

<body>

    <%- include('../partials/_adminNavbar.ejs') %>
        <div class="container">
            <h1>d</h1>
        </div>


</body>




</html>