
<link rel="stylesheet" href="/stylesheets/footer.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<footer class="footer">
    <div class="footerContainer">
        <div class="footerRow">
            <div class="footer-col">

                <img class="footerlogo" src="https://i.imgur.com/10OPCtY.png" alt="Logo">
           </div>
            <div class="footer-col">
                <h4>Haroon Fitness</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div>
           
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
           
        </div>
    </div>
</footer>