<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/Home.css">
  <title>Home Page</title>
</head>
<body>

  <div class="video-container">
    <video autoplay loop muted playsinline class="backVideo">
      <source src="https://i.imgur.com/B2g0j0O.mp4" type="video/mp4">
    </video>
  </div>
  
  <% if (user) { %>
    <%- include('./partials/_userNavbar.ejs') %>
    <div class="container">
      
      <h1>Welcome to the app, <span class="userNameDisplay"><%= user.username %>! </span></h1>
      <p>
        <a href="#">Home</a>
    
      </p>
    </div>
  <% } else { %>
    <%- include('./partials/_navbar.ejs') %>
    <div class="container">
      <h1>Welcome to the app, guest.</h1>
      <p>
        <a href="/auth/sign-in">let's Start</a>.
      </p>
    </div>
  <% } %>

  
</body>


</html>
