

body{

    display: flex;
    background-color: aqua;
    width: 100vw;
    
}

.container{
 display: flex;
 flex-direction: column;
 background-color: #b62222;

}

.headers{

    height: 16.5vh;
    width: 100%;
    background-color: #212529;
    border-radius: 0 0 30px 30px;
}