.addnewpackage {
    display: flex; 
    align-items: center; 
    margin: 20px 0; 
    
  }
  
  .addnewpackage .nav-link {
    display: inline-flex; 
    align-items: center;
    padding: 10px 20px; 
    border: 2px solid #212529 ; 
    border-radius: 5px; 
    text-decoration: none; 
    color: #DEC911; 
    font-size: 16px; 
    font-weight: bold; 
    transition: background-color 0.3s, color 0.3s; 
     background-color: #212529; 
  }
  
  .addnewpackage .nav-link:hover {
    background-color: #DEC911; 
    color: #ffffff; 
  }
  
  .addnewpackage .nav-link i {
    margin-right: 8px; 
  }


  .act {
    color: rgb(248, 16, 4);
}

.card-img-container {
    
    width: 100%;
    height: 35vh;
    overflow: hidden;
}

.img-size {
    width: 100%;
    height: 50vh;

    object-fit: cover;
}
.cards{
    margin: 15px;
}

.card-link {
text-decoration: none ;
border-top: 2px solid #333;
display: block;
margin-top: 15px;
}

.card-link:hover {
text-decoration:solid;
}


.adminav{

  height: 100% !important;
}
  