@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
body {
  font-family: "Oswald", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
}

.sign-in-container {
  height: 65vh;
  width: 65vw;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.left-side {
  background-image: url('https://i.pinimg.com/564x/3f/6a/98/3f6a982d7b657c6e34a569c9941c8c83.jpg');
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 50vw;
  border-radius: 10px 70px 56px 20px;
  color: #DEC911;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}
.left-side h1 {

  font-size: 60px;
}

.messg {
  text-align: center;
  font-size: 17px;
}

.right-side {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-side h1 {
  margin: 50px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.right-side a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.right-side button {
  background-color: #DEC911;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  margin: 10px 30px;
}

.right-side button:hover {
  background-color: #ac9e1f;
}

.right-side form {
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.right-side input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

/* Media Queries */
@media (max-width: 1024px) {
  .sign-in-container {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .left-side, .right-side {
    width: 100%;
    height: auto;
  }

  .left-side {
    border-radius: 10px 10px 0 0;
    height: 40vh;
  }

  .right-side {
    border-radius: 0 0 10px 10px;
  }

  .right-side h1 {
    margin: 20px 0;
  }
}

@media (max-width: 768px) {
  .sign-in-container {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .left-side, .right-side {
    width: 100%;
    height: auto;
  }

  .left-side {
    object-fit: fit;
    object-position: 100% 15%;
    border-radius: 10px 10px 0 0;
    height: 40vh;
  }

  .right-side {
    border-radius: 0 0 10px 10px;
  }

  .right-side h1 {
    margin: 20px 0;
  }
  .left-side h1 {

    font-size: 40px;
  }

}

@media (max-width: 480px) {
  .sign-in-container {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .left-side, .right-side {
    width: 100%;
    height: auto;
  }

  .left-side {
    border-radius: 10px 10px 0 0;
    background-size: cover; 
    height: 25vh;
  }

  .right-side {
    border-radius: 0 0 10px 10px;
    font-family: 'Arial', sans-serif; 
  }

  .right-side h1 {
    margin: 20px 0;
  }

  .left-side h1 {

    font-size: 30px;
  }

  .left-side p {

    font-size: 10px;
  }
  .right-side button {

    padding: 10px 5px ;
  }

  .right-side form {
    padding: 0 0;
  }

  
}