@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
body {
  font-family: "Oswald", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
}

.sign-up-container {
  height: 75vh;
  width: 75vw;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.left-side {
  background-image: url(https://i.pinimg.com/564x/ca/f4/11/caf4111adcad93aff27d8381e5964222.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 50vw;
  border-radius: 10px 70px 56px 20px;
  color: #DEC911;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}

.messg {
  text-align: center;
  font-size: 17px;
}

.right-side {
  width: 65vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-side h1 {
  margin: 20px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  color: #DEC911;
}

.form-container {
  width: 80%;
}

.rowww {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.input-group label {
  font-weight: 600;
  margin-bottom: 5px;
}

.input-group input {
  background-color: #eee;
  border: none;
  margin: 3px 0;
  padding: 10px 5px;
  font-size: 13px;
  border-radius: 8px;
  width: 95%;
  outline: none;
}

.right-side button {
  background-color: #DEC911;
  color: #fff;
  font-size: 14px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  margin: 20px 0;
}

.right-side button:hover {
  background-color: #ac9e1f;
}

@media (max-width: 768px) {
  .sign-up-container {
    flex-direction: column;
    height: auto;
    width: 90vw;
  }

  .left-side {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 40vh;
  }

  .right-side {
    width: 100%;
    border-radius: 0 0 10px 10px;
    height: auto;
  }
}

@media (max-width: 480px) {
  .sign-up-container {
    width: 95vw;
  }

  .left-side {
    height: 30vh;
    margin-top: 70vh;
  }
  .left-side h1 {
    font-weight: 600;
  }


  .right-side {
    padding: 20px;
  }

  .form-container {
    width: 100%;
  }

  .rowww {
    flex-direction: column;
  }

  .input-group {
    width: 100%;
  }

  .input-group input {
    width: 100%;
  }
}