
body{

    overflow-y: scroll;
  }
  body::-webkit-scrollbar{
    display: none;
  }

.addnewpackage {
    display: flex; 
    align-items: center; 
    margin: 15px 0 0 0;
    
  }
  
  .addnewpackage .nav-link {
    display: inline-flex; 
    align-items: center;
    padding: 10px 20px; 
    border: 2px solid #212529 ; 
    border-radius: 5px; 
    text-decoration: none; 
    color: #DEC911; 
    font-size: 16px; 
    font-weight: bold; 
    transition: background-color 0.3s, color 0.3s; 
     background-color: #212529; 
  }
  
  .addnewpackage .nav-link:hover {
    background-color: #DEC911; 
    color: #ffffff; 
  }
  
  .addnewpackage .nav-link i {
    margin-right: 8px; 
  }


  .pic {
    border-radius: 10px;
    background-position:center ;

    width: 100%;
    /* height: 35vh; */
    overflow: hidden;

}

.img-size {
    width: 100%;
    height: 50vh;

    object-fit: cover;
}
.cards{
    margin: 15px;
}

.adminav{

  height: 100% !important;
}
  
.card-img-top  {

    object-fit: fit;
    object-position: 100% 15%;

}

.card-body h5{
text-align: center;
color: #DEC911;
font-size: 25px;
font-weight: 700;

}

