<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_userNavbar.ejs') %>
    <div>
        hh
    </div>
    <%- include('../partials/footer.ejs') %>

</body>
</html>